body
{
    background-image: radial-gradient(circle at center, #447daf 15%, #6695be,#447daf, #80a5c5);
    color:#cdebf7;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 60px;
}
footer
{
    position: absolute;
    bottom: 0;
    width:100%;
    height:60px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #b7e6f8, #92c1e2);
    background-image: linear-gradient(to bottom, #A0C9D9, #7499B4);
    border-image-slice: 1;
}
aside
{
    border: 4px solid #afe8ff;
}
article
{
    text-align: center;
    border: 4px solid #afe8ff;
    width: 1926px;
}
img
{
    max-width: 125%;
    filter: brightness(1.35);
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #A0C9D9, #7499B4);
    border-image-slice: 1;
    box-shadow: 5px 5px 10px #193b49;
    margin-bottom: 1rem;
}
img:hover
{
    border-width: 5px;
    border-image: linear-gradient(to bottom, #72b1ca, #306891);
    border-image-slice: 1;
    cursor: pointer;
    box-shadow: 5px 5px 10px #173744;
    transform: scale(105%);
    filter:blur(1px);
    transition: transform 0.15s linear;
}
header
{
    background-image: linear-gradient(to bottom, #e5ffd7, #10a8a0);
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #f5fff2, #41ffef);
    border-image-slice: 1;
    padding: 1rem;
    font-weight: bolder;
    text-decoration: underline;
}
nav
{
    background-color: #bae2ff;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #fcfffc, #ccfffb);
    border-image-slice: 1;
    padding: 1rem;
}
p
{
    font-size: 18px;
}
a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
    font-weight: bold;
    font-size: 115%;
}
hr
{
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #f5fff5, #ccfffb);
    border-image-slice: 1;
}
#topaside
{
    margin-bottom: 1rem;
}
aside h2
{
    text-decoration: underline;
}
article h2
{
    text-decoration: underline;
    font-size: 30px;
}