/* Your styles go here */
*
{
    box-sizing: border-box;
    margin:0;
    padding:0;
    vertical-align: baseline;
}
a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
body
{
    text-align: center;
}
.vl
{
    border-left: 5px solid white;
    height: 543px;
    display: flex;
}
.clearfix::after
{
    content:"";
    clear:both;
    display: table;
}
.pull-left
{
    margin:0 5px;
    float:left;
    width: 40%;
    text-align: left;
}
.pull-right
{
    margin:0 5px;
    float:right;
    width: 40%;
    text-align: left;
}